<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaqDoc</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="icon.png">
</head>
<body>
    <div class="logo">
        <img src="/logo.png" alt="Logo" style="width: 500px; height: auto;">
    </div>
    
    <div class="content-wrapper">
        <!--Input box + animation-->
        <div class="container">
            <div id="inputContent" contentEditable="plaintext-only" class="textarea"></div>
            <div class="button-container">
                <button id="runbutton">check plagiarism</button>
                <button id="newScanButton" style="display: none;">new scan</button>
            </div>
            <div class="animation"></div>
            
        </div>

        <!-- Detailbox with extra info-->
        <div id="detailbox">
            <button id="detailclosebutton">&times;</button>
            <p>Details:</p>
            <table class="info-table">
                <tr>
                    <td id="jaccardSimilarity">Jaccard Similarity:</td>
                    <td id="averageSimilarity">Average/overall Similiary:</td>
                </tr>
                <tr>
                    <td id="cosineSimilarity">Cosine Similarity:</td>
                    <td id="articlelink">Link to article:</td>
                </tr>
            </table>
            
            <p id="plagtype">Plagiarism Type:</p>
        </div> 

        <!-- output box-->
        <div id="articleContent" class="result-container">
        </div>
    
    </div>
    <script src="script.js"></script>
    
</body>
</html>
