<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copy Buster</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!--Input box-->
    <div class="content-wrapper">
        <div class="container">
            <div id="inputContent" contentEditable="plaintext-only" class="textarea"></div>
            <!--<button style = "justify-content: flex-end;"id=detailbutton>Details</button> -->
            <button style = "justify-content: flex-end;"id="runbutton">check plagiarism</button>
            <div class="animation"></div>
            
        </div>

        <!-- Detailbox with extra info-->
        <div id="detailbox">
            <p>Details:</p>
            <table class="info-table">
                <tr>
                    <td id="jaccardSimilarity">Jaccard Similarity:</td>
                    <td id="averageSimilarity">Average/overall Similiary:</td>
                </tr>
                <tr>
                    <td id="cosineSimilarity">Cosine Similarity:</td>
                    <td id="articlelink">Link to article:</td>
                </tr>
            </table>
            <button id="detailclosebutton">&times;</button>
            <p id="fullarticle">Full Article:</p>
        </div> 

        <!-- output box-->
        <div class="rightside container box large">       
            <div id="articleContent"></div>
        </div>
    

    <script src="script.js"></script>
    
</body>
</html>
