body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #262626, #5d5d5d);
}

.logo {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 30px;
    padding: 10px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 1600px;
}

.box {
    display: flex;
    flex: 1;
}

.container {
    width: 50%;
    display: flex 1;
    flex-direction: row;
}

h3 {
    cursor: pointer;
    border-style: outset;
}

.markedSent {
    background-color: #c69999;
}

.textarea {
    z-index: 1;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    height: 500px;
    margin-bottom: 50px;
    font-size: 16px;
    color: black;
    border: 2px solid #000;
    border-radius: 30px;
    background-color: #e3e1dc;
    outline: none;
    resize: none;
    padding: 10px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#articleContent {
    display: none;
}

#detailbox {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 70%;
    height: 70%;
    font-size: 30px;
    font-style: italic;
    color: black;
    border: 2px solid #000;
    border-radius: 30px;
    background-color: #e3e1dc;
    padding: 10px;
    display: none;
    z-index: 2;
    box-sizing: border-box;
}

.button {
    background-color: #c1c1c1;
    color: #000000;
    font-size: 20px;
    font-family: "Bahnschrift";
    border: 2px solid #000;
    border-radius: 30px;
    cursor: pointer;
    width: 220px;
    height: 60px;
    display: block;
}

#runButton {
    margin: 0 auto;
}

#clearButton {
    display: none;
    float: right;
    margin-right: 90px;
}

#detailclosebutton {
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #c1c1c1;
    border: solid#000;
    border-radius: 30px;
    display: none;
    z-index: 3;
    float: right;
}

.info-table {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.info-table td {
    width: 350px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    background-color: #e3e1dc;
    text-align: center;
    vertical-align: middle;
}

.animation {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: none;
    border: 10px solid #f3f3f3;
    border-top: 10px solid rgba(15, 4, 4, 0.6);
    border-radius: 60%;
    z-index: 9999;
}

.animation.active {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sentence50 {
    background-color: hsl(60, 100%, 48%);
}
.sentence60 {
    background-color: hsl(0, 81%, 75%);
}
.sentence70 {
    background-color: hsl(0, 87%, 69%);
}
.sentence80{
    background-color: hsl(0, 96%, 67%);
}
.sentence90{
    background-color: hsl(0, 100%, 50%);
}

.mouseover {
    background-color: #b6ac56;
}